body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  color: hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.main {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  flex-basis: 50%;
  border-radius: 20px;
}
.row {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  margin: 0 4%;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.question img {
  width: 10px;
  height: 7px;
}
.question:hover {
  color: hsl(14, 88%, 65%);
}
#image-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image-desktop {
  display: none;
}
#img-mobile {
  position: relative;
  right: 14px;
}
#shadow-mobile {
  position: relative;
  bottom: 80px;
}
.dropdown-content {
  display: none;
  padding: 5px 0;
  color: hsl(240, 6%, 50%);
}
.show {
  display: block;
}
p {
  font-weight: 700;
  font-size: 30px;
}
#inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 107px;
}

@media only screen and (min-width: 768px) {
  #image-mobile {
    display: none;
  }
  #image-desktop {
    display: block;
    position: relative;
    right: 60px;
    top: 80px;
  }
  #cube {
    position: relative;
    bottom: 240px;
    right: 30px;
  }
  #inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    flex-basis: 100%;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: -185px -40px;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }
}
